{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "singleQuote": true,
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "off",
    "htmlWhitespaceSensitivity": "ignore",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "arrowParens": "always",
    "trailingComma": "es5",
    "vueIndentScriptAndStyle": false,
    "singleAttributePerLine": true
}
